<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2><%= hero.character %></h2>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <img src="<%= hero.showPhoto() %>" class="hero-photo">
      <p><b>Name/Model No : </b> <%= hero.full_name %></p>
      <p><b>Description : </b> <%= hero.occupation %></p>
      <!-- <p><b>Power : </b> <%= hero.power %></p> -->
      <p>
        <% if (hero.status == "Arthur wants it!"){ %>
          <a href="/legoheros/<%= hero.id %>/collected">Arthur owns it!</a>
        <% } else { %>
          <a href="/legoheros/<%= hero.id %>/desired">Arthur wants it!</a>
        <% } %>
      </p>
    </div>
  </div>
  <div id="edit-form-buffer" class="row">
    <div class="col-md-4">
      <p><a class="btn btn-lg btn-special col-md-12" href="/legoheros/<%= hero.id %>/edit" >Edit</a></p>
    </div>
    <div class="col-md-4">
      <p><a class="btn btn-lg btn-special col-md-12" href="/legoheros/<%= hero.id %>/delete" >Delete</a></p>
    </div>
    <div class="col-md-4">
      <p><a class="btn btn-lg btn-special col-md-12" href="/legoheros/#index" method='get'>Back</a></p>
    </div>
  </div>
</div>