<div>
  <div>
    <h2><%= hero.character %></h2>
    <ul>
      <li><b>Full Name :  </b> <%= hero.full_name %></li>
      <li><b>Occupation :    </b> <%= hero.occupation %></li>
      <li><b>Power : </b> <%= hero.power %></li>
      <li>
        <% if (hero.status == "Arthur wants it!"){ %>
          <a href="/legoheros/<%= hero.id %>/collected">Arthur owns it!</a>
        <% } else { %>
          <a href="/legoheros/<%= hero.id %>/desired">Arthur wants it!</a>
        <% } %>
      </li>
    </ul>
  </div>

  <div class="form-group col-md-4">
    <button class="btn btn-success col-md-12"><a href="/legoheros/<%= hero.id %>/edit">Edit this Superhero</a></button>
  </div>
  <div class="form-group col-md-4">
    <button class="btn btn-danger col-md-12"><a href="/legoheros/<%= hero.id %>/delete" method='get'>Delete this Superhero</a></button>
  </div>
</div>
